<!DOCTYPE html>
<html lang="en"></html>

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Marlon Restrepo">
    <meta http-equiv="x-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device=width, initial-scale=1,shrink-to-fit=no">
    <title>Marlon Restrepo</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/ce8f49d670.js" crossorigin="anonymous"></script>
<style type="text/css">
    #overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    }
</style>
</head>

<body>
    <div id="app">
        <div class="container-fluid">
            <div class="row bg-dark">
                <div class="col-lg-12">
                    <p class="text-center text-light display-10 pt-4">PRUEBA TECNICA CRUD USANDO PHP, VUEJS Y MYSQL</p>
                </div>
            </div>
        </div>
    

        <div class="container">
            <div class="row mt-5">
                <div class="col-xl-8">
                    <h3 class="text-info">Libros Registrados</h3>
                </div>
                <div class="col-xl-4">
                    <button class="btn btn-info float-right" @click="showAddModal=true">
                        <i class="fas fa-book"></i>&nbsp;&nbsp; Añadir Nuevo Libro
                    </button>
                </div>
            </div>
            <hr class="bg-info">
            <div class="alert alert-danger" v-if="errorMsg">
                {{ errorMsg }}
            </div>
            <div class="alert alert-success" v-if="successMsg">
                {{ successMsg }}
            </div>
            <div class="alert alert-danger" v-if="errorsFlag">
                {{ errors }}
            </div>

        <!-- Mostrar listado de libros -->

            <div class="row mt-5">
                <div class="col-lg-12">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr class="tex-center bg-info text-light">
                                <th>Foto</th>
                                <th>Descripcion</th>
                                <th>Referencia</th>
                                <th>Cantidad</th>
                                <th>Moneda</th>
                                <th>Precio</th>
                                <th>Isbn</th>
                                <th>Editar</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center" v-for="Book in Books">
                                <td>
                                    <input type="file" accept="image/png" id="archivo">
                                </td>
                                <td>{{ Book.Descripcion }}</td>
                                <td>{{ Book.Referencia }}</td>
                                <td>{{ Book.Cantidad }}</td>
                                <td>{{ Book.Moneda }}</td>
                                <td>{{ Book.Precio }}</td>
                                <td>{{ Book.Isbn }}</td>
                                <td> <a href="#" class="text-success" @click="showEditModal=true; selectBook(Book);"><i class="fas fa-edit"></i> </a></td>
                                <td> <a href="#" class="text-danger" @click="showDeleteModal=true; selectBook(Book);"><i class="fas fa-trash-alt"></i> </a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Añadir Nuevo Libro -->
        <div id="overlay" v-if="showAddModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-tittle">AÑADIR NUEVO LIBRO</h5>
                        <button type="button" class="close" @click="showAddModal=false; clearMsg();">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-4">
                        <form action="#" method="post">
                            <div class="form-group">
                                <input type="Descripcion" name="Descripcion" class="form-control form-control-lg" placeholder="Descripcion" v-model="newBook.descripcion">
                            </div>
                            <div class="form-group mt-3">
                                <input type="Referencia" name="Referencia" class="form-control form-control-lg" placeholder="Referencia" v-model="newBook.referencia">
                            </div>
                            <div class="form-group mt-3">
                                <input type="number" name="Cantidad" class="form-control form-control-lg" placeholder="Cantidad" v-model="newBook.cantidad">
                            </div>
                            <div class="form-group mt-3">
                                <input type="Moneda" name="Moneda" class="form-control form-control-lg" placeholder="Moneda: USD o COP" v-model="newBook.moneda">
                            </div>
                            <div class="form-group mt-3">
                                <input type="number" name="Precio" class="form-control form-control-lg" placeholder="Precio" v-model="newBook.precio">
                            </div>
                            <div class="form-group mt-3">
                                <input type="number" name="Isbn" class="form-control form-control-lg" placeholder="Isbn" v-model="newBook.isbn">
                            </div>
                            <div class="form-group mt-5">
                                <button class="btn btn-primary w-100" @click="showAddModal=false; addBook(); clearMsg(); validations();">
                                    Añadir Libro
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Editar Libro -->
        <div id="overlay" v-if="showEditModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-tittle">EDITAR LIBRO</h5>
                        <button type="button" class="close" @click="showEditModal=false; clearMsg();">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-4">
                        <form action="#" method="post">
                            <div class="form-group">
                                <input type="Descripcion" name="Descripcion" class="form-control form-control-lg" v-model="currentBook.Descripcion">
                            </div>
                            <div class="form-group mt-3">
                                <input type="Referencia" name="Referencia" class="form-control form-control-lg" v-model="currentBook.Referencia">
                            </div>
                            <div class="form-group mt-3">
                                <input type="number" name="Cantidad" class="form-control form-control-lg" v-model="currentBook.Cantidad">
                            </div>
                            <div class="form-group mt-3">
                                <input type="Moneda" name="Moneda" class="form-control form-control-lg" v-model="currentBook.Moneda">
                            </div>
                            <div class="form-group mt-3">
                                <input type="number" name="Precio" class="form-control form-control-lg" v-model="currentBook.Precio">
                            </div>
                            <div class="form-group mt-3">
                                <input type="number" name="Isbn" class="form-control form-control-lg" v-model="currentBook.Isbn">
                            </div>
                            <div class="form-group mt-5">
                                <button class="btn btn-primary w-100" @click="showEditModal=false; updateBook(); clearMsg();">
                                    Actualizar Libro
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Eliminar Libro -->
        <div id="overlay" v-if="showDeleteModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-tittle">ELIMINAR LIBRO</h5>
                        <button type="button" class="close" @click="showDeleteModal=false; clearMsg();">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-4">
                        <h4 class="text-danger"> Esa seguro de eliminar ese libro ?</h4>
                        <h5>Estas eliminando '{{currentBook.Referencia}}'</h5>
                        <hr>
                        <button class="btn btn-danger w-100" @click="showDeleteModal=false; deleteBook(); clearMsg();">Si</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-success w-100" @click="showDeleteModal=false; clearMsg();">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/vue"></script>
 <script type="text/javascript" src="main.js"></script> 
</body>

</html>
